# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/venv/
venv/
.env

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Python Cache
# ==========================
.pytest_cache/
.mypy_cache/

# ==========================
# Jupyter
# ==========================
.ipynb_checkpoints/